@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --green: #198754;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #eefaf2, #f8fbff);
  font-family: "Segoe UI", sans-serif;
}

.feedback-card {
  max-width: 800px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 20px;
  padding: 40px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.logo {
  width: 120px;
  display: block;
  margin: 0 auto 15px;
}

.section-title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 35px;
}

.form-label-custom {
  font-weight: 600;
}

.input-icon {
  background: #198754;
  color: white;
  border: none;
  min-width: 46px;
}

.form-input {
  border: 1px solid #dee2e6;
  border-radius: 0 10px 10px 0;
  padding: 12px;
  outline: none;
  width: 100%;
  transition: 0.2s;
  background: #fff;
}

.form-input:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.15);
}

textarea.form-input {
  border-radius: 10px;
  resize: vertical;
}

select.form-input {
  cursor: pointer;
}

.file-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}

.file-input {
  flex: 1;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 10px;
  background: white;
  width: 100%;
}

.file-input:focus {
  outline: none;
  border-color: #198754;
}

.add-btn {
  width: 42px;
  height: 42px;
  min-width: 42px;
  border-radius: 50%;
  font-size: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.upload-title {
  font-weight: 600;
  margin-bottom: 10px;
  color: #198754;
}

.footer-note {
  text-align: center;
  margin-top: 25px;
  color: #777;
}

@media (max-width: 768px) {
  .feedback-card {
    padding: 25px;
    margin: 20px;
  }

  .section-title {
    font-size: 22px;
  }

  .file-row {
    flex-direction: column;
    align-items: stretch;
  }

  .add-btn {
    width: 100%;
    border-radius: 10px;
  }
}